.feedback {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.792);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(5, 122, 27, 0.727);
    box-shadow:
        inset rgba(2, 82, 16, 0.3) -5px -5px 8px 5px,
        1px 1px 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 250ms var(--timingFn);
}